---
import "../styles/global.css";
---
<!doctype html>
<html lang="fr">
<head><meta charset="utf-8"><title>Resto Night</title></head>
<body class="grain min-h-screen flex items-center justify-center">
  <h1 class="text-6xl text-resto-neon neon-glow pulse-neon">RESTO NIGHT</h1>
</body>
</html>
